* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 156px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  width: 100%;
  height: auto;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}
.feedback-form > label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  gap: 8px;
  margin-bottom: 8px;
}
.feedback-form > label > input,
.feedback-form > label > textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  outline: transparent;
}

.feedback-form > label > textarea {
  height: 80px;
}

.feedback-form > label > input:hover,
.feedback-form > label > textarea:hover {
  border: 1px solid #000;
}

.feedback-form > label > input::placeholder,
.feedback-form > label > textarea::placeholder {
  color: transparent;
}

.feedback-form > label > input:focus::placeholder,
.feedback-form > label > textarea:focus::placeholder {
  color: #2e2f42;
}

.feedback-form > button {
  margin-top: 8px;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}
.feedback-form > button:hover {
  background: #6c8cff;
  border: none;
}
